@import '../../styles/sharedStyles.scss';
  
.outerWrapper {
    //border: 1px solid color(black-soft);
}

.portrait {
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 20% 10%;
    border-radius: 50%;
}

.introduction {
    padding: 20px 0;
}

.container {
    z-index: 9;
    font-size: 20px;
    //animation: expand .8s ease forwards;
  
    /* vertical alignment */
    display: flex;
    //justify-content: center;
    flex-direction: column;
    //display: flex;
    //justify-content: initial;
    //padding-top: 30px;

    img {
        align-self: center;
    }
}

.wrapper {
    grid-column: 1/5;
    @include min-width(large) {
        /*padding-top: 60px;
        margin-top: 60px;*/
        padding: 60px 30px;
        position: relative;
        background: color(white-soft);
    }
}

.cvLink {
    font-size: 16px;
    a {
        text-decoration: underline;
    }
}

.backButtonWrapper {
    position: absolute;
    bottom: 30px;
    width: 100%;
    left: 30px;
}