@import "../styles/sharedStyles.scss";

.wrapper {
  animation: expandBackwards 0.8s ease forwards;
  @include min-width(large) {
    display: grid;
  }
  @include max-width(large) {
    padding: 30px;
  }
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.leftColumn {
  position: relative;
  z-index: 9;
  grid-column: 1/5;
  font-size: 20px;

  /* vertical alignment */
  display: flex;
  justify-content: center;
  flex-direction: column;

  > :first-child {
    padding-bottom: 40px;
  }
}

.link {
  color: black;
  padding-bottom: 15px;
  text-decoration: none;
  font-size: 16px;
  &:hover {
    text-decoration: underline;
  }
}

.links {
  text-align: center;
}

.eyebrow {
  text-align: center;
}

.textWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  background: white;
  opacity: 0.6;
  padding: 45px 40px;
}

.button {
  margin-top: 30px;
  border: none;
  font-size: 20px;
  background: transparent;
  text-decoration: underline;
}
