@import './sharedStyles.scss';
  
.portrait {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 20% 10%;
    border-radius: 50%;
}

.introduction {
    padding: 20px 0;
}

.container {
    position: relative;
    z-index: 9;
    grid-column: 1/5;
    font-size: 20px;
  
    /* vertical alignment */
    display: flex;
    //justify-content: center;
    flex-direction: column;
    //display: flex;
    //justify-content: initial;

    img {
        align-self: center;
    }
    @include min-width(large) {
        padding-top: 60px;
        margin-top: 60px;
    }
}

.cvLink {
    font-size: 16px;
    a {
        text-decoration: underline;
    }
}