
$colors: (
  black-true: #000000,
  black-soft: #2d2e2f,
  white-soft: #f2f2f2,
  /*black-softest: #222222,
  black-translucent: rgba(#000000, 0.81),
  black-soft-translucent: rgba(#2d2e2f, 0.4),
  gray-cool: #dbdee1,
  gray-warm-light: #dfdedd,
  gray-lighter: #c8c8c8,
  gray-light: #adadad,
  gray-base: #757575,
  gray-cool-dark: #585c62,
  gray-medium-lighter: #565656,
  gray-medium: #4F4F4F,
  gray-dark: #353535,
  gray-translucent: rgba(#242424, 0.1),
  highlight: #dc453e,
  highlight-on-dark: #e15149,
  white-true: #ffffff,
  white-soft: #f0f0f0,
  white-light: #e8e8e8,
  white-dull: #e1e1e1,
  white-soft-translucent: rgba(#f0f0f0, 0.4),
  white-soft-translucent-on-dark: rgba(#f0f0f0, 0.66),
  white-dull-translucent: rgba(#e1e1e1, 0.25),
  green: #009E52,*/
);

@function color($name) {
  @return map-get($colors, $name);
}

$breakpoints: (
    small: (
      width: 360px,
      height: 500px,
    ),
    small-plus: (
      width: 500px,
      height: 500px,
    ),
    medium: (
      width: 600px,
      height: 600px,
    ),
    medium-plus: (
      width: 800px,
      height: 800px,
    ),
    large: (
      width: 1000px,
      height: 700px,
    ),
    xlarge: (
      width: 1200px,
      height: 800px,
    ),
    xxlarge: (
      width: 1600px,
      height: 1000px,
    ),
    xxxlarge: (
      width: 1800px,
      height: 1000px,
    ),
  );
  
  @function breakpoint-width($name) {
    @return map-get(map-get($breakpoints, $name), width);
  }
  
  @function breakpoint-height($name) {
    @return map-get(map-get($breakpoints, $name), height);
  }
  
  @mixin min-width($breakpoint) {
    @media (min-width: breakpoint-width($breakpoint)) {
      @content;
    }
  }
  
  @mixin min-height($breakpoint) {
    @media (min-height: breakpoint-height($breakpoint)) {
      @content;
    }
  }
  
  @mixin max-width($breakpoint) {
    @media (max-width: breakpoint-width($breakpoint) - 1) {
      @content;
    }
  }
  
  @mixin max-width-or-height($breakpoint) {
    @media (max-width: breakpoint-width($breakpoint)), (max-height: breakpoint-height($breakpoint)) {
      @content;
    }
  }
  
  @mixin min-width-and-height($breakpoint) {
    @media (min-width: breakpoint-width($breakpoint)) and (min-height: breakpoint-height($breakpoint)) {
      @content;
    }
  }
  
  @mixin min-width-max-width($minBreakpoint, $maxBreakpoint) {
    @media (min-width: breakpoint-width($minBreakpoint)) and (max-width: breakpoint-width($maxBreakpoint)) {
      @content;
    }
  }