@import '../../styles/sharedStyles.scss';

.wrapper {
    /*position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;*/
}

.spacer {
    width: 100%;
    grid-row: 1/2;
    @include min-width(large) {
        height: 200px;
    }
}

.backtoHome {
    position: absolute;
    //bottom: 30px;
    text-decoration: underline;
    font-size: 14px;
    //left: 30px;
    bottom: 0;
    padding: 30px 0;
  }
  